#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/*
=========================
  CUSTOM STYLES
=========================
*/

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #111;
  color: #fafafa;
  line-height: 1.6;
}

section, header{
  margin-bottom: 4rem;
}

h1{
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

h2{
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}


/*===================
  Decision Form
====================*/

.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

 

input{
  display: block;
  margin: 0.5rem 0;  
  background-color: #1B1B1B;
  color: #fafafa;
  border-radius: 0.2rem;
  width: 50rem;
  height: 3.5rem;
  padding: 1rem;
  text-align: center;
}

input::placeholder{
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}